@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

header{
    background: linear-gradient(170deg, #cab9eda1, #D5CFC7, #cab9eda1, #D5CFC7);
    width: 100vw;
}
body{
    width: 100vw;
}
.top-bar{
    padding: 10px;
}
.wp-post-image{
    float: left;
    margin: 4px 15px 10px 0;

}
.wp-featured-img{
    float: none;
    padding-top: 2vh;
}
.blog article{
    display: inline-block;
}
.search-submit:hover {
    transform: translateY(-15px); 
    transition: transform 2s;
}
.nav-icon{
    width: 50px;
    margin-left: 5px;
    height: auto;
    padding: 0;    
}
#menu-bs{
    background-color: #00000000 !important ;
    padding:0;
}
input:not(p input ){
    background-color: #ffffff1d;
    border: 1px solid #000000; 
    width: 100px;
    padding-bottom:0;
    padding-top: 4px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
#menu-menu-topo a{
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    color: #251761;
    font-weight: 500;

}
.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 20px ;
    font-family: 'Share Tech Mono', monospace;
    font-size: larger;
}
#menu-menu-topo{
    margin-bottom: 0px;
    margin-top: 10px;

}
.logo{
    font-family: 'Share Tech Mono';
    font-size:38px;
    color: #251761;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
    font-weight: 500;
}
main{
    background: radial-gradient(circle at center, #bdbdbdb6 40%, #D5CFC7 ),
                linear-gradient(180deg,  #585858d0 1%, #bdbdbdb6 , #bdbdbd41 , #bdbdbdb6);   
}
.search-submit{
    border-radius: 4px;
    padding-top: 8px;
    height: 28px;
    width: 25px;
    background-color: #ffffff41 ;
    border: 1px solid #000000; /* Uma borda sólida preta de 2 pixels */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); 
    transform: translateY(4px);
}
#search{
    position: relative;
    top:-6px;
}
h1.title, h1.archive-title{
    font-family: 'Share Tech Mono', monospace;
    color: #251761;
    font-size: xx-large  !important;
    margin-top: 5vh;
}

.title#t2{
    margin: 80px 0 80px 0 ;
    font-size: 34px;
}
.title#t1{
    margin-bottom: 5vh;
}
.sub-title{
    font-size:18px;
}
.bi:not(#search){
    position: relative;
    top: -3vh;
}
#img1{
    max-width: 70vw;
    padding-top: 20px;
    padding-bottom: 10vh;
}
.distorcer {
    animation: inclinacao 6s linear infinite; 
}

@keyframes inclinacao {
    0% {
        transform: perspective(1000px) rotateY(0deg); 
    }
    50% {
        transform: perspective(1000px) rotateY(30deg); 
    }
    100%{
        transform: perspective(1000px) rotateY(0deg);    
     }
}
.carousel-h{
    position: relative;
    top: -5vh;
}
.services{
    position: relative;
    top: -8px;
    padding-top: 20px;
}
.service-h7{
    color: #251761;
    font-weight: 500;
    font-size: 24px;
}
.text-center{
    padding-top: 30px;
}
.plan-card{
    min-width: 250px;
    z-index: 2 !important;
    position: relative;
}
.plan-card:hover{
    opacity: 5%;
    transition: 1.5s;
}
button.btn, .wpcf7-submit{
    width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: #ff8800;
    font-size: x-large;
    font-weight: 500;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #000000;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
button.btn:hover{
    background:  #b6490057;
}
button.btn:active{
    background:  #b6490057;
}
.copy{
    font-size: larger;
    color: #bdbdbdb6;
    margin-left:20px

}
footer{
    background-image: url('../imgs/footer.png');
}
#menu-menu-footer a{
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    color: #D5CFC7;
    font-weight: 500;
}
.btn-reveal{
    min-width: 250px;
    position: relative;
    background-color: #00000000;
    border: none;
    margin-left: 4vw;
    padding-top: 10px;
}

p.reveal-p{
    position: absolute;
    top:28%;
    left: 20%;
    z-index: 1 !important;
    background-color: #c9c9c9;
    font-weight: 700;
    font-size: medium;
    transition: 1.5s;
    border-radius: 20px;
    padding: 3px;
}

/* Blog */
.middle-area:not(#primary){
    padding-right: 20px;
    padding-top: 10px;
}

.sidebar-blog{
    background: linear-gradient(135deg, #fbfafaf9, #D5CFC7);
    border-radius: 20px;
}
.widget-wrapper{
    padding-left: 20px;    
}

#search-sidebar{
    margin-bottom: 10px;
    padding-left: 30px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important; 
}
.wp-block-heading{
    font-family: 'Share Tech Mono', monospace;
}
.featured-h2 a, h2 a{
    color: #000000;
}
.featured-h2, h2{
    margin:0;
    font-family: 'Share Tech Mono', monospace;
    padding:0;        
    margin-bottom: 2vh;
}
.post-h2{
    width: fit-content;
    padding:5px;
    padding-right: 20px; 
    background-color: #ff88007d;   
    border-radius: 10px;     
    margin-top:5vh;
}
.featured p{
    margin-bottom: 10vh;
}
.blog-lb{
    color:#0000007b;
}
.meta-info-p{
    color:#251761;
    text-transform: uppercase;
    margin: 2px !important;
}
.vline{
    background: radial-gradient(#25176145 5%,#ffffff00  ) ;
    width:1px !important; 
    padding:0 !important;
}
.hline{
    height: 1px;
    background:linear-gradient( to right, #ffffff0a , #25176132, #ffffff00 50%) ;
    margin-bottom: 1vh;
    width: 40%;
    float: right;
}

/* Single */
.container.single{
    padding-top:5vh;
}
.content{
    width: 90%;
    padding-left: 10%;
}
p a{
    color:#251761;
}
p a:hover{
    color:#00d9ff;
    transition-duration: 2s;
}
/* Search-page */
.search-results{
    padding-right: 5vw;
}
#search-nav{
    padding-top: 30px;
    padding-left:30px;
}
/* Contact page */
p input, p textarea{
    background-color: #ffffff8a     ;
    border-color: #ff8800;
    border-top: 2px !important;
    border-left: 2px !important;
}
p label{
    color: #251761;
}
p textarea{
    border:2px solid #ff8800;
}
p input.wpcf7-submit{
    border: 1px solid #000 !important;
    margin:0 !important;
}
p span.wpcf7-not-valid-tip{
    color: #251761;
    background-color: #fb080898;
    font-weight: 700;
}
#contact-div{
    padding-bottom: 5vh;
}
.wpcf7-response-output{
    color:#251761;
    background-color: #ffffff8a;
}
/* comments*/
.comments-title{
    color: #251761;
}

div.comment-meta.commentmetadata a:not(.comment-edit-link){
    color:#0000007b;

}
.comment-edit-link,.comment-reply-link{
    color:#251761;
    text-decoration: underline !important;
}
.comment-author span{
    color: #251761;
}
ol::marker{
    color:#ff8800 !important;
}
h2.comment-reply-title#reply-title{
    background-color: #ff88007d;
    max-width: fit-content;
}

/* animation */
.current-page{
    padding:2px;
    text-decoration: underline;
}

#backToTopBtn {
    position: fixed;
    bottom: 4vh;
    right: 20px;
    display: none;
    border: 1px solid #2517619d;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.281); 
    border-radius: 15px;
    padding:0px 2px 0px 2px;
    background-color: #ff8800;
    font-size: x-large;
    z-index: 999;
}